@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-orange: #f85f00;
  --primary-grey: #222222;
}
.text-orange {
  color: var(--primary-orange);
}
.text-grey {
  color: var(--primary-grey);
}
.input-light-text-color {
  color: var(--primary-grey);
}
.input-light-text-color::placeholder {
  color: var(--primary-orange);
}
.glassmorphism-container {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(107, 107, 107, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.bg-orange {
  background: url("/src/assets/bg-orange.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container-login {
  @apply w-[90%] max-w-[400px] flex flex-col justify-between items-center m-auto rounded-3xl py-4 px-8;
}
.container-flex-col {
  @apply w-full flex flex-col gap-2 justify-between;
}
.container-flex-row {
  @apply w-full flex gap-2 justify-between;
}
.button-orange {
  @apply px-4 py-2 bg-[var(--primary-orange)] min-w-fit min-h-[40px] text-nowrap rounded-md text-white hover:bg-orange-700 hover:scale-105 transition-all;
}
.button-orange-not-selected {
  @apply px-4 py-2 bg-transparent min-w-fit min-h-[40px] text-nowrap rounded-md hover:bg-orange-700 hover:scale-105 hover:text-white transition-all;
}
.shadowblack {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.scrollable-table {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  border-radius: 0.5rem;
}
.scrollable-table > table {
  width: 100%;
}
.scrollable-table > table tr:nth-of-type(even) {
  background-color: rgba(53, 53, 53, 0.2);
}

.labelAvatar {
  @apply flex justify-center items-center flex-col cursor-pointer;
}
.labelAvatar input {
  @apply hidden;
}
.labelAvatar span {
  @apply z-10 absolute opacity-0 transition-all;
}
.labelAvatar:hover span {
  @apply scale-[2] opacity-100;
}
.scrollable-form {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 80%;
}

.modal-content button {
  margin: 5px;
}
.button-input-file::file-selector-button {
  @apply px-4 py-2 bg-[var(--primary-orange)] min-w-fit rounded-md text-white hover:bg-orange-700 cursor-pointer transition-all border-none;
}
.sidebar {
  @apply min-w-fit flex flex-col rounded-l-lg p-3 gap-4 shadowblack overflow-y-auto;
}
.sidebar-not-expanded {
  @apply w-fit;
}
.sidebar-expanded {
  @apply max-w-[200px] w-[250px];
}
